# Application
NODE_ENV=development
APP_NAME=graphql-nestjs
APP_PORT=3000

# MySQL
DB_HOST=localhost
DB_PORT=3310
DB_USERNAME=graphql_app
DB_PASSWORD=
DB_ROOT_PASSWORD=change_me
DB_NAME=graphql_nestjs
DB_SYNCHRONIZE=false
DB_LOGGING=false

# GraphQL
GRAPHQL_PATH=/graphql
GRAPHQL_PLAYGROUND=false

# Logging
LOG_LEVEL=debug
